html,body{height: 100%;}
body{background-color: #f2f2f2;padding-bottom: 50px;}
#header{height: auto;}
#header img{width: 100%;}
#search{background-color: #FFF;margin:10px 0;height: auto;width: 100%;}
#search .search-container{padding:10px;position: relative;}
#search .search-container input{width:100%;background-color:#F2F2F2;border: 0;height: 30px;line-height: 30px;outline: none; text-indent: 10px;border-radius: 0}
#search .search-container button{position: absolute;right: 10px;top:10px;background-color:#FF4D3D;height: 30px;border-width: 0;outline: none;color:#FFF;width: 80px;}

.wall {
  display: block;
  position: relative;
}
.wall-column {
  display: block;
  position: relative;
  width: 50%;
  float: left;
  padding: 0 2%;
  box-sizing: border-box;
}
@media screen and (min-width:640px){
	.wall-column{width: 33.33%;}
}
.article {
  display: block;
  margin: 0 0 8% 0;
  padding: 5%;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  transition: all 100;
  overflow: hidden;
  position: relative;
}
/* .article:hover{ transform: scale(1.01);} */
.article img {
  display: block;
  width: 100%;
  margin: 0 0 0 0;
}
.wrapper .vote-btn{width: 100%;border-width: 0;background-color: #FF4D3D;outline: none;color: #FFF;height: 30px;line-height: 30px;border-radius: 3px;}
.wrapper .vote-info{margin:0px 0;position: relative;height: 30px;}
.wrapper .vote-info i{position: absolute;height: 30px;line-height: 30px;}
.wrapper .vote-info .num{left:0;color: #FEA11E;font-weight: bold;}
.wrapper .vote-info .num:before{content:'No.';}
.wrapper .vote-info .vote{right:0;}
.wrapper .vote-info .vote:after{content:'票';}
.wrapper .vote-info .title{bottom:0;width: 100%;height:30px;color:#FFF!important;position: absolute;top: -30px; background-color: rgba(0, 0, 0, 0.5);line-height: 30px;text-indent: 5px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}

#footer{
	height: 60px;
}
#menu{
	position: fixed;
	bottom: 0;
	/* border-top: 1px solid #D7D7D7; */
	box-shadow: 0px 0px 3px  #CCC;
	height: 40px;
	line-height: 40px;
	width: 100%;
	background-color: #FFF;

}
#menu .top-list-btn{
  width: 50%;
  height: 100%;
  background-color: #FEA11E;
  color: #FFF;
  text-align: center;
  float: right;
}
#menu .vote-rule-btn{
	width: 50%;
	height: 100%;
	background-color: #FFF;
	color: #333;
	text-align: center;
	float: left;
}

@-webkit-keyframes fadeIn{
  0%   {-webkit-transform: translateY(50px);transform: translateY(50px); opacity: 0;}
  100% {-webkit-transform: translateY(0px);transform: translateY(0px);opacity: 1;}
}

/*排名*/
#top-list,#vote-rule{position: fixed;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);top: 0;left: 0;display: -webkit-flex;-webkit-justify-content:center;-webkit-align-items:center;display: none;}
#top-list .top-list-container,#vote-rule .vote-rule-container{width: 80%;height: 85%;background-color: #FFF;border-radius: 5px;position: relative;overflow: hidden;-webkit-animation:fadeIn 0.7s;}
#top-list .top-list-close,#vote-rule .vote-rule-close{z-index:10;display: -webkit-flex;-webkit-justify-content:center;-webkit-align-items:center;background-color: #FF4D3D;width: 20px;height: 20px;position: absolute;right: 0;top: 0;color: #FFF;text-align: center;border-radius: 0 0 0 50%;font-size: 16px;}
#top-list .top-list-container table{width: 100%;}
#top-list .top-list-container table thead{background-color: #1C94F7;color: #FFF;}
#top-list .top-list-container table thead tr{height: 35px}
#top-list .top-list-container table td{text-align: center;width: 33.33%}
#top-list .top-list-container table tbody{}
#top-list .top-list-container table tbody tr{height: 30px;border-bottom: 1px dotted #CCC;width: 100%;}
#top-list .top-list-container table tbody tr td{width: 33.33%}
#top-list .top-list-container .top-list-table2{height: 100%;overflow-y: auto;-webkit-overflow-scrolling: touch;}
#top-list .top-list-container .top-list-table2 table{margin-bottom: 40px;}

#vote-rule h3{font-weight: bold;}
#vote-rule p{line-height: 25px}
#vote-rule img{max-width: 100%;}
#vote-rule .vote-rule-content{height: 90%;margin:5% 0; padding:0 20px;overflow-y: auto;-webkit-overflow-scrolling: touch;display: block}

#shareTips{position: fixed;width: 100%;height: 100%;top: 0;left: 0;color: #FFF;background-color: rgba(0, 0, 0, 0.5);display: none;}
#shareTips img{position: absolute;width: 80%;right: 0;top:0;}

/*加载*/
#tips{z-index: 100; position: fixed;width: 100%;height: 100%;top: 0;left: 0;display: -webkit-flex;-webkit-justify-content: center;-webkit-align-items: center;color: #FFF;display: none;}
#tips .tips-container{padding:5px; text-align:center;background-color: rgba(0, 0, 0, 0.7);width: 120px;height: 100px;border-radius: 3px;display: -webkit-flex;-webkit-justify-content: center;-webkit-align-items: center;}
#tips .tips-container p{}
#tips .tips-container p i{display: block; text-align: center;}
#tips .tips-container p .tips-icon{margin:20px 0 10px 0;}
#tips .tips-container p .tips-icon img{width: 32px;}

/*图片显示*/
#pic-show{position: fixed;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.7);display: -webkit-flex;-webkit-justify-content: center;-webkit-align-items: center;color: #FFF;display: none;}
#pic-show .pic-show-container{max-width: 80%;height: auto;padding:10px;max-height:90%;background-color: #FFF;border-radius: 0px;position: relative;overflow: hidden;-webkit-animation:fadeIn 0.7s;}
#pic-show .pic-show-close{z-index:10;display: -webkit-flex;-webkit-justify-content:center;-webkit-align-items:center;background-color: #FF4D3D;width: 20px;height: 20px;position: absolute;right: 0;top: 0;color: #FFF;text-align: center;border-radius: 0 0 0 50%;font-size: 16px;}
#pic-show .pic-show-container .pic-show-img-box{width: 100%;position: relative;overflow: hidden;   max-height: 90vw!important;}
#pic-show .pic-show-container .pic-show-img-box .title{position: absolute;bottom: 0;left:0;width: 100%;height: 30px;background-color: rgba(0, 0, 0, 0.5);line-height: 30px;text-indent: 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
#pic-show .pic-show-container .pic-show-img-box img{max-width: 100%;}
#pic-show .pic-show-container .pic-show-info{height: 30px;position: relative;}
#pic-show .pic-show-container .pic-show-info i{position: absolute;height: 30px;line-height: 30px;}
#pic-show .pic-show-container .pic-show-info .num{left:0;color: #FEA11E;font-weight: bold;}
#pic-show .pic-show-container .pic-show-info .num:before{content:'No.';}
#pic-show .pic-show-container .pic-show-info .vote{right:0;color:#000;}
#pic-show .pic-show-container .pic-show-info .vote:after{content:'票';}
#pic-show .pic-show-container .pic-show-btn{position: relative;height: 40px;}
#pic-show .pic-show-container .pic-show-btn .btn{width: 49%;border-width: 0;height: 30px;position: absolute;color: #FFF;outline: none;}
#pic-show .pic-show-container .pic-show-btn .btn1{left:0;background-color: #FF4D3D;}
#pic-show .pic-show-container .pic-show-btn .btn2{right:0;background-color: #FEA11E;}

.is-select{
  background-color: #B3B3B3!important;
}






